* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



.w1 {
    color: black;
    font-size: 30px;
    /* align-items: center; */
    display: flex;
    justify-content: center;

}

.w2 {
    color: gray;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;

}

.img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    gap: 16px;
}

.block {
    background-color: black;
    width: 200px;
    height: 250px;
}
.bla{
    width: 200px;
    height: 250px;
}